{% extends "instructor_base.html" %}
{% load staticfiles %}

{% block headertitle %}
<title>404 Error</title>
{% endblock %}

{% block nav %}
<a class="blog-nav-item" href="{% url 'index' %}">Home</a>
<a class="blog-nav-item" href="{% url 'course_index' %}">Courses</a>
<a class="blog-nav-item" href="{% url 'research' %}">Research</a>
<a class="blog-nav-item" href="{% url 'lab' %}">Lab</a>
<a class="blog-nav-item" href="{% url 'about' %}">About</a>
<a class="blog-nav-item" href="{% url 'misc_index' %}">Misc</a>
{% endblock %}

{% block title %}
<h1 class="blog-title">404 Error</h1>
<p class="lead blog-description">Page Not Found</p>
{% endblock %}

{% block content %}
  <div class="post">
    <p class="meta">
      Oops, that page doesn't exist (yet).
    </p>
  </div>
{% endblock %}
