{% extends "instructor_base.html" %}
{% load django_markdown %}

{% block headertitle %}
<title>About</title>
{% endblock %}

{% block nav %}
<a class="blog-nav-item" href="/">Home</a>
<a class="blog-nav-item" href="/courses/">Courses</a>
<a class="blog-nav-item" href="/detail/research/">Research</a>
<a class="blog-nav-item" href="/detail/lab/">Lab</a>
<a class="blog-nav-item active" href="/detail/about/">About</a>
<a class="blog-nav-item" href="/misc/">Misc</a>
{% endblock %}

{% block title %}
<h1 class="blog-title">About</h1>
<p class="lead blog-description">{{ instructor_name }}</p>
{% endblock %}

{% block content %}
<div class="post">
  <p class="meta">
    {{ about|markdown }}
  </p>
  <p class="meta">
    Last modified on
    {{ modified }}
  </p>
</div>
{% endblock %}

{% block side %}
<div class="sidebar-module sidebar-module-inset">
  {% if photo %}
  <p>
  <img src="{{ MEDIA_URL }}{{ photo }}" class="img-responsive" alt="Instructor">
  </p>
  {% endif %}
  <h4>Contact:</h4>
  <p>
    Office: {{ office }}
  </p>
  <p>
    Email: {{ email }}
  <P>
</div>
{% endblock %}
