{% extends "instructor_base.html" %}
{% load django_markdown %}

{% block headertitle %}
<title>Lab</title>
{% endblock %}

{% block nav %}
<a class="blog-nav-item" href="/">Home</a>
<a class="blog-nav-item" href="/courses/">Courses</a>
<a class="blog-nav-item" href="/detail/research/">Research</a>
<a class="blog-nav-item active" href="/detail/lab/">Lab</a>
<a class="blog-nav-item" href="/detail/about/">About</a>
{% endblock %}

{% block title %}
<h1 class="blog-title">Lab</h1>
<p class="lead blog-description">{{ instructor_name }}</p>
{% endblock %}

{% block content %}
<div class="post">
  <p class="meta">
    {{ lab|markdown }}
  </p>
  <p class="meta">
    Last modified on
    {{ modified }}
  </p>
</div>
{% endblock %}
