{% extends "instructor_base.html" %}
{% load django_markdown %}

{% block headertitle %}
<title>{{ misc_page.title }}</title>
{% endblock %}

{% block nav %}
<a class="blog-nav-item" href="/">Home</a>
<a class="blog-nav-item" href="/courses/">Courses</a>
<a class="blog-nav-item" href="/detail/research/">Research</a>
<a class="blog-nav-item" href="/detail/lab/">Lab</a>
<a class="blog-nav-item" href="/detail/about/">About</a>
<a class="blog-nav-item active" href="/misc/">Misc</a>
{% endblock %}

{% block title %}
<h1 class="blog-title">{{ misc_page.title }}</h1>
{% endblock %}

{% block content %}
<div class="post">
  <p class="meta">
    {{ misc_page.body|markdown }}
  </p>
  <p class="meta">
    Last modified on
    {{ misc_page.modified }}
  </p>
</div>
{% endblock %}

{% block side %}
{% if misc_page.side %}
<div class="sidebar-module sidebar-module-inset">
  <p>
    {{ misc_page.side|markdown }}
  </p>
</div>
{% endif %}
{% endblock %}
