{% extends "course_base.html" %}
{% load django_markdown %}

{% block headertitle %}
<title>{{ module.title }}</title>
{% endblock %}

{% block nav %}
<a class="blog-nav-item" href="{% url 'course_home' course_slug=course.slug %}">{{ course.title }}</a>
<a class="blog-nav-item" href="{% url 'course_home' course_slug=course.slug %}syllabus/">Syllabus</a>
<a class="blog-nav-item active" href="{% url 'course_home' course_slug=course.slug %}modules/">Modules</a>
<a class="blog-nav-item" href="{% url 'course_home' course_slug=course.slug %}assignments/">Assignments</a>
<a class="blog-nav-item" href="{% url 'course_home' course_slug=course.slug %}projects/">Projects</a>
{% endblock %}

{% block title %}
<h1 class="blog-title">Modules</h1>
<p class="lead blog-description">{{ module.title }}</p>
{% endblock %}

{% block content %}
<div class="post">
  <p class="meta">
      {{ module.body|markdown }}
  </p>
  <p class="meta">
    Last modified on {{ module.modified }}
  </p>
</div>
{% endblock %}

{% block side %}
<div class="sidebar-module sidebar-module-inset">
  <span class="glyphicon glyphicon-eye-open"></span>
  <h4>Student Activities:</h4>
  {% if module.activity %}
  <p>{{ module.activity }}</p>
  {% else %}
  <p>No activities specified.</p>
  {% endif %}
</div>
{% endblock %}
