{% extends "instructor_base.html" %}
{% load staticfiles %}
{% load django_markdown %}

{% block content %}
  <div class="post">
    <h2>{{ object.title }}</a></h2>
    <p class="meta">
      {{ object.created }} |
      tags: {{  object.tags.all|join:", " }}
    </p>
    {{ object.body|markdown }}
  </div>
{% endblock %}

{% block side %}
<div class="sidebar-module sidebar-module-inset">
  <h4>Tags</h4>
  {% if tags %}
  {% for tag in tags %}
  <p>
    <h4><a href="{% url 'tag_index' tag_slug=tag.slug %}">{{ tag.slug }}</a></h4>
  </p>
  {% endfor %}
  {% else %}
  <p>
    No tags found.
  </p>
  {% endif %}
</div>
{% endblock %}
