{% extends "instructor_base.html" %}
{% load django_markdown %}

{% block headertitle %}
<title>Research</title>
{% endblock %}

{% block nav %}
<a class="blog-nav-item" href="/">Home</a>
<a class="blog-nav-item" href="/courses/">Courses</a>
<a class="blog-nav-item active" href="/detail/research/">Research</a>
<a class="blog-nav-item" href="/detail/lab/">Lab</a>
<a class="blog-nav-item" href="/detail/about/">About</a>
{% endblock %}

{% block title %}
<h1 class="blog-title">Research</h1>
<p class="lead blog-description">{{ instructor_name }}, {{ instructor_title }}</p>
{% endblock %}

{% block content %}
<div class="post">
  <p class="meta">
    {{ research|markdown }}
  </p>
  <p class="meta">
    Last modified on
    {{ modified }}
  </p>
</div>
{% endblock %}

{% block side %}
<div class="sidebar-module sidebar-module-inset">
  {% if research_photo %}
  <p>
  <img src="{{ MEDIA_URL }}{{ research_photo }}" class="img-responsive" alt="Research">
  </p>
  {% endif %}
  <h3>Curriculum Vitae</h3>
  <h4>Education</h4>
  <p>
    {{ education|markdown }}
  </p>
<h4>Employment</h4>
<p>
{{ employment|markdown }}
</p>
<h4>Other Appointments</h4>
<p>
{{ other_resume|markdown }}
</p>
</div>
{% endblock %}
